@charset "ISO-8859-1";
body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#entete
{
	color: white;
	text-align: center;
	background-color: black;
}
#entete,#corps,#titre-principal
{
	text-align: center;
	width: 1600%;
	height: 600px;
	margin: 0px;
}

#entete
{
	position: asolute;
	height: 11%;
	left: 0px;
	top: 0px;
	padding: 10px;
	font-size: 3em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: center;
  
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #000000;
}


#pied {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
}

#mytable {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #000000;
  color: white;
}
